@charset "UTF-8";

/* General */
* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #95C5E8;
	font-family: "Verdana";
	font-size: 16px;
}

/* Header */
h1 {
	margin: 0;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-family: Palatino;
	color: #FFFFFF;
}

header {
	margin: 0;
	background-color: #4682B4;
	font-family: "Trebuchet MS";
}

.nav-item {
	border-bottom: 1px #000000 solid;
	padding-top: 3px;
	padding-bottom: 3px;
	list-style-type: none;
	text-align: center;
}

.nav-item a {
	text-decoration: none;
	color: green;
}

.nav-item a:hover {
	text-decoration: underline;
	color: purple;
}

.nav-item-hidden {
	display: none;
	margin: 0;
	padding: 5px 0;
	font-size: 1.1em;
}

.nav-item-visible {
	font-size: 1.3em;
}

.nav-menu {
	padding: 0px 6% 0px;
	z-index: 1;
}

.nav-menu:hover > .nav-item {
	display: block;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: lightblue;
	z-index: 1;
}

/* Shows all hidden nav items when a visible one is hovered */
/*#navbar:hover .nav-item {
	display: block;
}*/

#nav-beverages {
	padding-left: 5%;
	border-left: 1px #000000 solid;
}

#nav-dishes {
	padding-right: 5%;
	border-right: 1px #000000 solid;
}

/* Main */
img {
	/*width: 100%;*/
	display: block;
	height: 100px;
	margin: 0 auto;
	border-radius: 10px;
	/*text-align: center;*/
}

main {
	padding: 0 10px;
}

.recipe {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-bottom: 3px #FF00FF solid;
}

.recipe > section {
	flex: 200px;
}

.recipe > .recipe-intro {
	flex: 100%;
}

.recipe > .recipe-source {
	flex: 100%;
	text-align: center;
}

.recipe-info {
	font-family: "Comic Sans MS";
	font-size: 1.1em;
}

.recipe-info-head {
	text-align: center;
	text-decoration: underline;
}

.recipe-info-list {
	border: 1px #000000 solid;
	border-radius: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: silver;
	list-style-type: circle;
}

.recipe-info-list-item {
	padding-bottom: 10px;
}

.recipe-ingredients-head {
	text-align: center;
	text-decoration: underline;
}

.recipe-ingredients-list, .recipe-ingredients-list td, .recipe-ingredients-list tr, .recipe-ingredients-list-head {
	border: 1px #000000 solid;
	border-collapse: collapse;
}

.recipe-ingredients-list td {
	padding: 10px 10px 10px 10px;
	font-family: courier;
}

.recipe-ingredients-list th {
	padding: 5px 10px;
	background-color: lightgreen;
	text-decoration: underline;
}

.recipe-ingredients-list tr:nth-child(odd) {
	background-color: cyan;
}

.recipe-ingredients-list tr:nth-child(even) {
	background-color: aquamarine;
}

.recipe-ingredients-list td {
	padding: 10px 10px 10px 10px;
	font-family: courier;
}

.recipe-ingredients-list-amount {
	text-align: right;
}

.recipe-ingredients-list-name {
	text-decoration: left;
}

.recipe-figure-credit {
	padding-top: 5px;
	text-align: center;
}

.recipe-figure-credit-link {
	color: #1D1D1D;
}

.recipe-figure-image {
	box-shadow: 0px 0px 5px red,
				0px 0px 10px orange,
				0px 0px 15px yellow;
}

.recipe-intro {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	background-image: linear-gradient(135deg, #95E8E5, #7FB8EB, #63EBE8);
}

.recipe-name {
	text-align: center;
	text-decoration: underline;
	font-family: Georgia;
	font-size: 1.4em;
}

.recipe-quote {
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
}

.recipe-quoter {
	font-family: Arial;
	font-style: initial;
	font-weight: bold;
}

.recipe-source {
	font-family: "Courier New";
	font-size: 1.4em;
	font-weight: 700;
	color: red;
}

.recipe-source-link {
	color: royalblue;
}

.recipe-steps-head {
	text-align: center;
	text-decoration: underline;
}

.recipe-steps-list {
	margin: 0px 10px 0px 10px;
	border: 3px orange solid;
	border-radius: 8px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: pink;
	line-height: 24px;
	font-family: sans;
	font-size: 1.0em;
}

.recipe-steps-list-item {
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 1px #000000 solid;
}

.section-head {
	text-align: center;
	text-decoration: underline;
	font-family: Bookman;
	font-size: 2.3em;
}

/* Footer */
.more-link {
	margin: 0px 30px;
	text-decoration: none;
	cursor: help;
	color: khaki;
}

#footer {
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #4682B4;
	text-align: center;
	font-family: Palatino;
	color: white;
}